.text-container {
  width: 100%;
  padding: 1rem 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  label {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }

  input {
    width: 50%;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font: inherit;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: inherit;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      border-bottom: 1px solid #001a38;
    }
  }

  span {
    font-size: 12px;
    color: rgb(244, 67, 54);
  }
}
